* {
    margin: 0;
    padding: 0;
}

.container1 {
    width: 100%;
    height: 100vh;
    background-image: url("ayyas kecil.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.container2 {
    width: 100%;
    height: 100vh;
    background-image: url("ayyas gede1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
}

.container3 {
    width: 100%;
    height: 100vh;
    background-image: url("ayyas gede2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: table;
}

h1 {
    font-size: 5rem;
    color: white;
    font-weight: 600;
    font-family: 'Teko', sans-serif;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}